.pp-version-notice-bold-purple {
    background: #655997;
    height: auto;
    box-sizing: border-box;
    padding: 10px 40px;
    position: relative;
    overflow: hidden;
    line-height: 20px;
    margin-left: -20px;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    justify-content: space-between;
}

.pp-version-notice-bold-purple-message {
    width: 90%;
    text-align: center;
    margin-right: 20px;
}

.pp-version-notice-bold-purple-button {
    background: #feb123;
    color: #000000 !important;
    font-weight: normal;
    text-decoration: none;
    padding: 6px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #fca871;
    break-inside: avoid;
    white-space: nowrap;
    max-width: 170px;
}

.pp-version-notice-bold-purple-button:hover {
    background: #fcca46;
    color: #181818 !important;
}

.pp-version-notice-bold-purple-button:active {
    background: #feb123;
    color: #000000 !important;
}

.pp-version-notice-bold-purple-button a {
    text-decoration: none !important;
    color: #414141 !important;
}

.pp-version-notice-bold-purple-dismiss {
    color: #ffffff !important;
    margin-left: 12px;
    text-decoration: underline;
    white-space: nowrap;
}

@media only screen and (max-width: 600px) {
    .pp-version-notice-bold-purple {
        padding: 55px 15px 10px;
    }

    .pp-version-notice-bold-purple-message {
        width: 62%;
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
    }

    .pp-version-notice-bold-purple-button {
        width: 38%;
        text-align: center;
    }
}
